.task {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    vertical-align: middle;
    list-style-type: none;
    background: #fff;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    margin: 0.4rem;
    height: 4rem;
    border: #000013 0.15rem solid;
    border-radius: 0.2rem;
    cursor: move;
    text-align: center;
    vertical-align: middle;
  }

  .task p {
    margin: auto;
  }