<header>
  <h1>Drag & Drop Todo list</h1>
</header>

<div class="add-task-container">
  <app-todo-add (newTaskEvent)="onTodoAdded($event)"></app-todo-add>
</div>

<div class="main-container">
  <ul class="columns">
    <li class="column to-do-column">
      <div class="column-header">
        <h4>To Do</h4>
      </div>
      <ul class="task-list" id="to-do">
        <app-todo-card 
        *ngFor="let item of todoList"
        [todo]="item">
        </app-todo-card>
      </ul>
    </li>

    <li class="column doing-column">
      <div class="column-header">
        <h4>Doing</h4>
      </div>
      <ul class="task-list" id="doing">
        <li class="task">
          <p>Hypothesis</p>
        </li>
        <li class="task">
          <p>User Testing</p>
        </li>
        <li class="task">
          <p>Prototype</p>
        </li>
      </ul>
    </li>

    <li class="column done-column">
      <div class="column-header">
        <h4>Done</h4>
      </div>
      <ul class="task-list" id="done">
        <li class="task">
          <p>Ideation</p>
        </li>
        <li class="task">
          <p>Sketches</p>
        </li>
      </ul>
    </li>

    <li class="column trash-column">
      <div class="column-header">
        <h4>Trash</h4>
      </div>
      <ul class="task-list" id="trash">
      <app-todo-delete 
      *ngFor="let item of trashTodoList"
      [trashTodoList]="item"
      >        
      </app-todo-delete>
      </ul>
      <div class="column-button">
        <button class="button delete-button" (click)="emptyTrash()">
          Delete
        </button>
      </div>
    </li>
  </ul>
</div>

<footer></footer>
